<div class="jumbotron text-center">
  <h1>Лабораторная работа №3</h1>
  <p>Здесь используется bootstrap.scss, ng-bootstrap, httpclient и ngx-datatable!</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <h3>Пример 1</h3>
      <p>Использование ngb-alert</p>
      <ngb-alert *ngIf="alertIsOpen" (closed)="alertIsOpen = false">ngb-alert!</ngb-alert>
      <button type="button" class="btn btn-primary" (click)="alertIsOpen=true">Primary button!</button>
    </div>
    <div class="col-sm-3">
      <h3>Пример 2</h3>
      <form [formGroup]="groupForm">
        <div class="btn-group btn-group-toggle">
          <label class="btn-primary" ngbButtonLabel>
            <input type="checkbox" formControlName="icecream" ngbButton> Мороженное
          </label>
          <label class="btn-primary" ngbButtonLabel>
            <input type="checkbox" formControlName="pizza" ngbButton> Пицца
          </label>
          <label class="btn-primary" ngbButtonLabel>
            <input type="checkbox" formControlName="burger" ngbButton> Бургеры
          </label>
        </div>
      </form>
    </div>
    <div class="col-sm-3">
      <h3>Пример 3</h3>
      <form [formGroup]="groupForm">
        <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" formControlName="radio">
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" [value]="1"> 1
          </label>
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" value="2"> 2
          </label>
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" [value]="3"> 3
          </label>
        </div>
      </form>
    </div>
    <div class="col-sm-3">
      <h3>Пример 4</h3>
      <button ngbTooltip="ngbTooltip example" placement="right">Hover me</button>
    </div>
  </div>
</div>
<app-router [radioValue]="groupForm.value['radio']" [data]="groupForm.getRawValue()"></app-router>